{% extends "skeleton.html" %}
{% block content %}
    {% if user %}
        <h3>Bienvenido</h3>
    {% else %}
        ¡Haz <a href="{{url_user}}">login</a> para reaccionar a los comentarios de los demás y publicar tus vídeos favoritos!
    {% endif %}
    <div class="container" width="200px">
        <div class="row">
            {% if publicaciones.count() > 0 %}
                {% for p in publicaciones %}
                <div class="col-sm">
                    <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ p.url }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Autor: {{ p.autor }}</h6>
                            <p class="card-text">{{ p.comentario }}</p>
                            <p class="card-text"><small class="text-muted">Publicado: {{ p.fecha }}</small></p>

                            {% if user.email() == p.autor %}
                                <a href="/likes/list?id={{ publicacion.key.urlsafe() }}" class="btn btn-light">Ver likes</a>
                                <a href="/publicaciones/borra?id={{ publicacion.key.urlsafe() }}" class="btn btn-danger">Borrar</a>
                            {% else %}
                                <a href="/likes/darLike" class="btn btn-primary">Me gusta</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p><b>Todavía no hay publicaciones. ¡Sé el primero en añadir una!</b></p>
            {% endif %}
        </div>
    </div>
{% endblock %}