{% extends "skeleton.html" %}
{% block content %}
    {% if user %}
        <br>
    {% else %}
        <blockquote class="blockquote text-center">
            <br><p class="mb-0">¡Haz <a href="{{url_user}}">login</a> para reaccionar a los comentarios de los demás y publicar tus vídeos favoritos!</p>
            <br>
        </blockquote>
    {% endif %}
    <div class="container" width="200px">
        <div class="row">
            {% if publicaciones.count() > 0 %}
                {% for p in publicaciones %}
                <div class="col-sm">
                    <div class="card" style="width: 530px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ p.url }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Autor: {{ p.autor }}</h6>
                            <p class="card-text">{{ p.comentario }}</p>
                            <p class="card-text"><small class="text-muted">Publicado: {{ p.fecha }}</small></p>

                            {% if user %}
                                {% if user.email() == p.autor %}
                                    <a href="/likes/list?id={{ p.key.urlsafe() }}" class="btn btn-light">Ver likes</a>
                                    <a href="/publicaciones/borra?id={{ p.key.urlsafe() }}" class="btn btn-danger">Borrar</a>
                                {% else %}
                                    <a href="/likes/darLike?id={{ p.key.urlsafe() }}" class="btn btn-primary">Me gusta</a>
                                    {% for l in likes %}
                                        {% if p.key == l.publicacion %}
                                            {% if user.email() == l.autor %}
                                                <p><small>Ya te gusta esta publicación</small></p>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p><b>Todavía no hay publicaciones. ¡Sé el primero en añadir una!</b></p>
            {% endif %}
        </div>
    </div>

{% endblock %}


