{% extends "skeleton.html" %}
{% block content %}
<div class="container">
    {% if likes.count() == 0 %}
        <blockquote class="blockquote text-center">
            <br><p class="mb-0">Nadie ha reaccionado a tu publicación todavía</p>
            <br>
        </blockquote>
    {% else %}
        <blockquote class="blockquote text-center">
            <br><p class="mb-0">Personas a las que le ha gustado tu publicación</p>
            <br>
        </blockquote>
        <ul class="list-group">
            {% for l in likes %}
            <li class="list-group-item"><b>{{ l.autor }}</b> <small>{{ l.fecha }}</small></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>



{% endblock %}